<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZHIRINOVSKY</title>
    <link href="../static/css/styles.min.css" rel="stylesheet">
</head>

<body>
<header class="container header">
    <div class="header__wrapper">
        <a href="/" class="header__logo-link">
            <svg class="header__logo" width="177" height="26">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="ZHIRINOVSKY"></use>
            </svg>
        </a>
    </div>
</header>
<main class="container">
    <section class="items">
        <div class="items__item item">
            <div class="item__top">
                <img src="{{picture}}" alt="" class="item__post-img" width="348">
            </div>
            <p class="item__descr">{{phrase}}</p>
            <audio controls autoplay="autoplay">
                <source src={{audio}} type="audio/mpeg">
            </audio>
            <div class="item__post-bottom">
                <a href="/">Сгенерировать фразу</a>
            </div>
        </div>
    </section>
</main>
</body>

</html>
